html {
    font-family: 'Inter', sans-serif;
}

.header-nav {
    display: flex;
    height: 90px;
    align-items: center;
}

.header-nav__control-btn {
    width: 36px;
    height: 36px;
    margin-right: 36px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header-nav__control-icon {
    color: #f75454;
    font-size: 24px;
}

.header-nav__brand {
    display: block;
    margin-right: 24px;
}

.header-nav__brand-img {
    height: 55px;
}

.header-nav-list {
    display: flex;
    position: relative;
}

.header-nav__item {
    display: block;
    height: auto;
    height: 100%;
    list-style: none;
    position: relative;
    font-weight: 400;
    margin: 0 12px;
    color: #000;
}

.header-nav__item:hover {
    color: #f75454;
}

.header-nav-item__link {
    display: block;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.header-nav-list>.line {
    position: absolute;
    height: 2px;
    border-radius: 2px;
    background-color: #f75454;
    transition: all 0.2s ease;
}


/*Search*/

.nav-search {
    margin-left: 32px;
    margin-right: 8px;
    flex-grow: 1;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 4px;
    background-color: #F6F5F3;
}

.nav-search__icon {
    margin-right: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.nav-search__icon:hover {
    color: #f75454;
}

.nav-search__input {
    width: 100%;
    padding: 4px;
    border: none;
    color: #7c6e65;
    font-size: 14px;
    border-radius: 4px;
    background-color: transparent;
}

.nav-search input {
    -webkit-appearance: none;
    outline: none;
}


/*Acount control*/

.header-nav__user-control {
    margin-left: 32px;
}

.header-nav__user-btn+.header-nav__user-btn {
    margin-left: 16px;
}

.header-nav__user-btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(0, 0, 255, 0.603);
    color: white;
}

.header-nav__user-btn:hover {
    background-color: #f75454cc;
}

@media (min-width: 75.01em) {
    .pc-hide {
        display: none;
    }
}

@media (max-width: 75em) {
    .tablet-hide {
        display: none;
    }
}

@media (max-width: 48em) {
    .mobile-hide {
        display: none;
    }
    .nav-search {
        margin-left: 0px;
    }
}


/*Banner*/

.top-slides-container {
    background-image: url(../img/carousel_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-slide-item {
    width: 100%;
    height: 100%;
    list-style: none;
    user-select: none;
}

.top-slide__text {
    padding: 32px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.top-slide__pretitle {
    font-size: 18px;
    color: #BEB4B4;
    margin-bottom: 8px;
}

.top-slide__title {
    font-size: 50px;
    margin-bottom: 8px;
}

.top-slide__description {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: oblique;
}

.top-slide__btn {
    margin-top: 24px;
    padding: 8px;
    width: 120px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #f75454;
    border-radius: 4px;
    font-weight: 500;
    color: #FFF;
}

.top-slide__btn:hover {
    background-color: rgba(247, 84, 84, 0.8);
}

.top-slide__img {
    height: 600px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.top-slide__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.top-slide__img img {
    width: auto;
    height: 95%;
}

.top-swiper-pagination {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.categories-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories__heading {
    margin: 32px 0;
    font-size: 30px;
}

.categories__link {
    text-decoration: none;
    color: #000;
}

.categories__link:hover {
    color: red;
}

.categories-list {
    padding: 32px 0;
    /* margin: 0 -6px; */
}

.categories-item {
    list-style: none;
    border-radius: 4px;
    margin: 6px 0;
    padding: 0 6px;
}

.categories-item:nth-of-type(5n + 1) .categories-item-wrapper {
    background-color: #FAF1FF;
}

.categories-item:nth-of-type(5n + 2) .categories-item-wrapper {
    background-color: #FAF4EB
}

.categories-item:nth-of-type(5n + 3) .categories-item-wrapper {
    background-color: #E6F2F4
}

.categories-item:nth-of-type(5n + 4) .categories-item-wrapper {
    background-color: #F4E6E5
}

.categories-item:nth-of-type(5n + 5) .categories-item-wrapper {
    background-color: #FFF6F6
}

.categories-item-wrapper {
    border-radius: 4px;
    position: relative;
    z-index: 0;
}

.categories-item-inner {
    margin: auto;
    padding: 32px 20px;
}

.categories-item__name {
    margin: 16px 0;
}

.categories-item__link {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.categories-item__icon {
    height: 50px;
    width: auto;
}


/*Categories heading*/

.categories-container {
    display: block;
}

.categories-inner {
    padding: 30px 0;
}


/*Best selling*/

.bestselling-container {
    padding: 30px 0;
}

.bestselling-container .swiper {
    padding: 32px 0;
}

.bestselling__title {
    padding: 16px 0 32px 0;
    font-size: 32px;
}

.bestselling-item {
    list-style: none;
    padding: 30px;
    border: 1px solid #eae8e4;
    transition: all 0.5s;
}

.bestselling-swiper-pagination {
    display: flex;
    justify-content: center;
    padding: 12px;
}


/*Featured book section*/

.featured__heading {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.featured__tabs {
    display: flex;
    justify-content: center;
    position: relative;
}

.featured__tab-line {
    position: absolute;
    height: 2px;
    bottom: 0;
    transition: all 0.25s;
    border-radius: 1px;
    background-color: #f75454;
}

.featured__tab-item {
    padding: 16px 20px;
    user-select: none;
    cursor: pointer;
}

.featured__tab-item--active {
    color: #f75454;
}

.featured__tab-item:hover {
    color: #f75454;
}

.featured__content-pane {
    display: none;
}

.featured__content-pane--active {
    display: block;
}

.featured__contents {
    padding: 48px 0 72px 0;
}


/*Deals section*/

.deals-container {
    background-color: #FFF6F6;
}

.deal-item {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    border: 1px solid #eae8e4;
}

.deal-item:hover {
    border-radius: 2px;
    box-shadow: 0 0 40px 0 rgb(22 22 25 / 10%);
    border: 1px solid rgb(0, 0, 0);
}

.deal-item-left {
    padding: 20px;
    margin: auto;
    position: relative;
    z-index: 0;
}

.deal-item-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.deal-item__img {
    width: 200px;
    height: 280px;
}

.deal-item-right {
    padding: 20px;
    flex: 1;
}

.deal-item__link {
    text-decoration: none;
}

.deal-item__title {
    color: #000;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
}

.deal-item__author {
    text-decoration: none;
    color: #7c6e65;
    padding-bottom: 8px;
    display: inline-block;
}

.deal-item__price {
    display: flex;
    align-items: center;
}

.deal-item__progess-percent {
    display: block;
    height: 16px;
    border-radius: 8px;
    background-color: #FCE5E5;
}

.deal-item__price {
    padding-bottom: 8px;
}

.deal-item__price-deal {
    font-weight: 600;
    margin-right: 8px;
}

.deal-item__price-old {
    font-size: 14px;
    color: #7c6e65;
    text-decoration: line-through;
}

.deal-item__countdown-time {
    display: flex;
    height: 50px;
    align-items: center;
}

.deal-item__countdown-unit {
    flex-grow: 1;
    text-align: center;
}

.deal-item__countdown-unit span:last-child {
    margin-left: 16px;
    font-weight: 600;
}

.deal-item__countdown-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
}

.deal-item__countdown-title span {
    font-weight: 400;
}

.deal-item__progess {
    padding-top: 32px;
}

.deal-item__progess-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.deal-item__progessbar {
    height: inherit;
    width: 80%;
    border-radius: inherit;
    background-color: #f75454;
}