html {
    font-family: 'Inter', sans-serif;
}

.header-nav {
    display: flex;
    height: 90px;
    align-items: center;
}

.header-nav__control-btn {
    width: 36px;
    height: 36px;
    margin-right: 36px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header-nav__control-icon {
    color: #f75454;
    font-size: 24px;
}

.header-nav__brand {
    display: block;
    margin-right: 24px;
}

.header-nav__brand-img {
    height: 55px;
}

.header-nav-list {
    display: flex;
    position: relative;
}

.header-nav__item {
    display: block;
    height: auto;
    height: 100%;
    list-style: none;
    position: relative;
    font-weight: 400;
    margin: 0 12px;
    color: #000;
}

.header-nav__item:hover {
    color: #f75454;
}

.header-nav-item__link {
    display: block;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.header-nav-list>.line {
    position: absolute;
    height: 2px;
    border-radius: 2px;
    background-color: #f75454;
    transition: all 0.2s ease;
}


/*Search*/

.nav-search {
    margin-left: 32px;
    margin-right: 8px;
    flex-grow: 1;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 4px;
    background-color: #F6F5F3;
}

.nav-search__icon {
    margin-right: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.nav-search__icon:hover {
    color: #f75454;
}

.nav-search__input {
    width: 100%;
    padding: 4px;
    border: none;
    color: #7c6e65;
    font-size: 14px;
    border-radius: 4px;
    background-color: transparent;
}

.nav-search input {
    -webkit-appearance: none;
    outline: none;
}


/*Acount control*/

.header-nav__user-control {
    margin-left: 32px;
}

.header-nav__user-btn+.header-nav__user-btn {
    margin-left: 16px;
}

.header-nav__user-btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(0, 0, 255, 0.603);
    color: white;
}

.header-nav__user-btn:hover {
    background-color: #f75454cc;
}

@media (min-width: 75.01em) {
    .pc-hide {
        display: none;
    }
}

@media (max-width: 75em) {
    .tablet-hide {
        display: none;
    }
}

@media (max-width: 48em) {
    .mobile-hide {
        display: none;
    }
    .nav-search {
        margin-left: 0px;
    }
}


/*Banner*/

:root {
    --carousel-height: 1200px
}

@media(min-width: 48em) {
     :root {
        --carousel-height: 600px
    }
}

.top-carousel-container {
    overflow: hidden;
    background-image: url(../img/carousel_bg.jpg);
}

.top-carousel-inner {
    height: var(--carousel-height);
    position: relative;
}

.top-carousel-list {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.top-carousel-item {
    width: 100%;
    height: 100%;
    list-style: none;
    top: 0;
    left: -100%;
    position: absolute;
    animation-duration: 0.8s;
    animation-name: slideout;
}

.top-carousel-item--active {
    left: 0;
    animation-duration: 0.8s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideout {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.top-carousel__text {
    padding: 32px;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
}

.top-carousel__pretitle {
    font-size: 18px;
    color: #BEB4B4;
    margin-bottom: 8px;
}

.top-carousel__title {
    font-size: 50px;
    margin-bottom: 8px;
}

.top-carousel__description {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: oblique;
}

.top-carousel__btn {
    margin-top: 24px;
    padding: 8px;
    width: 120px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #f75454;
    border-radius: 4px;
    font-weight: 500;
    color: #FFF;
}

.top-carousel__btn:hover {
    background-color: rgba(247, 84, 84, 0.8);
}

.top-carousel__img {
    height: 600px;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.top-carousel__img img {
    margin: auto;
    width: auto;
    height: 85%;
}


/*Dots control slide show*/

.top-carousel-control {
    position: absolute;
    bottom: 8px;
    z-index: 99;
    display: inline-flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.top-carousel-dot {
    list-style: none;
    margin: 0.45rem;
    cursor: pointer;
}

.top-carousel-dot--active .top-carousel-dot__outer {
    border: 2px solid black;
}

.top-carousel-dot--active .top-carousel-dot__inner {
    background-color: rgba(0, 0, 0, 0.849);
}

.top-carousel-dot__outer {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.top-carousel-dot__inner {
    width: .375rem;
    height: .375rem;
    background-color: #DCCCCC;
    border: 0 solid transparent;
    border-radius: 50%;
}